# This is a udev rules file. To use it, copy it over to /etc/udev/rules.d/90-ratctl.rules
# (this might change depending on your distribution).

# Saitek Devices

# Cyborg R.A.T.5
SUBSYSTEM=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0cc3", TAG+="uaccess"
# old Cyborg R.A.T.7
SUBSYSTEM=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0ccb", TAG+="uaccess"
# Cyborg R.A.T.3
SUBSYSTEM=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0ccc", TAG+="uaccess"
# Cyborg R.A.T.9
SUBSYSTEM=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0cd7", TAG+="uaccess"
# Cyborg R.A.T.9
SUBSYSTEM=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0cd9", TAG+="uaccess"
# Cyborg R.A.T.9
SUBSYSTEM=="usb", ATTRS{idVendor}=="06a3", ATTRS{idProduct}=="0cfa", TAG+="uaccess"

# Mad Catz Devices

# R.A.T 5
SUBSYSTEM=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="1705", TAG+="uaccess"
# R.A.T 9
SUBSYSTEM=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="1709", TAG+="uaccess"
# R.A.T PRO X
SUBSYSTEM=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="1718", TAG+="uaccess"
